
*{background: #eeebea; font-family: 'Lato', sans-serif; color: #222E32
}

header{
    background-color: #A5CFCC;

}

h1{color: #00736D}

a{color: #A5CFCC}

a:hover{color: #ee393b  }

img{width: 100px;}

#mugContainer{width: 100px}

