
*{background: #eeebea; font-family: 'Lato', sans-serif; color: #222E32
}

header{background: #A5CFCC  ; text-align: center}

h1{color: #87163A}

a{color: #C9385D}

a:hover{  font-family: fantasy;  }

