body{
    font-family: 'Roboto', sans-serif;
}

header{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-size: 100%;
}

main{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

footer{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

#Sidebar{
    max-width: 200px;
    text-align: left;
    background-color: #abd7ff;
}

#MainSection{
    background-color: #fdffbf;
    text-align: justify;
}


header.h3{
    font-style: normal;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ee393b;
}

.TextWrap{
    float: left;
    margin: 10px 10px 10px 0;
}