body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ee393b;
}

.TextWrap{
    float: left;
    margin: 10px 10px 10px 0;
}