body{
    font-family: 'Roboto', sans-serif;
}


header{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
}


main{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
}


#MainSection{
    float: left;
}

#Sidebar{
    color: white;

}

#LightSidebar{
    background-color: #DBC9DF;
    max-width: 320px;
    height: 300px;
    padding: 10px 15px 30px 10px;

}

#DarkSidebar{
    background-color: #782A7E;
    max-width: 320px;
    height: 300px;
    padding: 10px 15px 30px 10px;
}


footer{
    max-width: 960px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #363636;
    color: white;
    text-align: center;
}