body{
    background-color: #00736D;
}

*{
    color: #222E32;
}


main{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    background-color: #eeebea;
}

#c1, #c2, #c3{
    background-color: #ee393b;
}